<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hill Valley Bikes</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="container">

        <header class="header">
            <nav class="header__nav">
                <div class="header__nav_content">
                     <a class="header__nav__a" href="#">Home</a>
                    <a class="header__nav__a" href="#">Shop</a>
                    <a class="header__nav__a" href="#">Specials</a>
                    <a class="header__nav__a" href="#">Support</a>
                    <a class="header__nav__a" href="#">Cycling Club</a>
                    <div class="header__nav__div">
                        <input type="text">
                    </div>
                </div>
            </nav>
            <div class="header__nav__menu_icon show-sm">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h1 class="header__h1">Hill Valley <span>Bikes</span></h1>
        </header>

        <section class="section__articles">
            <article class="section__articles__article">
                <img class="section__articles__article__img" src="assets/imgs/1.jpg" alt="sport">
                <h2 class="section__articles__article__h2">The all new
                    <span>Lighting Bolt</span>
                </h2>
                <p class="section__articles__article__p">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </article>
            <article class="section__articles__article">
                <img class="section__articles__article__img" src="assets/imgs/2.jpg" alt="sport">
                <h2 class="section__articles__article__h2">The classic
                    <span>Starter</span>
                </h2>
                <p class="section__articles__article__p">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </article>
            <article class="section__articles__article show-md">
                <img class="section__articles__article__img" src="assets/imgs/3.jpg" alt="sport">
                <h2 class="section__articles__article__h2">Move cargo with
                    <span>The Capacitor</span>
                </h2>
                <p class="section__articles__article__p">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </article>
            <article class="section__articles__article show-lg">
                <img class="section__articles__article__img" src="assets/imgs/4.jpg" alt="sport">
                <h2 class="section__articles__article__h2">Great gift
                    <span>Certificates</span>
                </h2>
                <p class="section__articles__article__p">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </article>
        </section>

        <section class="section__secondary show-md">
            <div class="section__secondary_phrase">
                <p class="section__secondary_phrase_text">"Great Scott, this is a great ride. I wouldn´t be without my classic starter!"</p>
                <p class="section__secondary_phrase_author">- Robert Z.</p></div>
            <article class="section__secondary_article show-lg">
                <h3>From the blog: Lorem ipsum dolor</h3>
                <div class="section__secondary__article__content">
                    <div>
                        <p class="section__secondary_article_paragraph">Lorem ipsum dolor sit amet, quaeque dolorem eu mei, et inani vivendum 
                        vituperatoribus quo. Pertinax euripidis ne qui, omnis impedit senserit
                         ea cum, mel doming ceteros contentiones ad.</p>
                         <p class="section__secondary_article_more">Read more</p>
                    </div>
                    <div><img src="assets/imgs/3.jpg" alt="another image"></div>
                    
                </div>
            </article>
        </section>

        <div class="cta">
            <button class="cta__button">Find your perfect ride</button>
        </div>

    </div>    
    <script src="scripts.js"></script>
</body>
</html>