
/pamlicona/polymer/cards-random/bower-components/*
/pamlicona/polymer/component-polymer/bower-components/*
abnerduran/polymer/carousel-component/bower_components/*
abnerduran/polymer/game-component/bower_components/*
abnerduran/polymer/vet/bower_components/*
