* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  min-width: 320px
}
body{
  min-width: 320px;
}
.sidenav__list{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.sidenav__item{
  float: left;
}

.sidenav__link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidenav__link:hover{
  background-color: #111;
}

.brand{
  min-height: 300px;
  background-image: url("img/Car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.brand__h1{
  font-size: 3rem;
  color: white;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 30px;
}

.cards__article{
  position: relative;
}
.cards__img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article__title{
  color: gray;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px
}

.article__subtitle{
  color: red;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.article__p{
  font-size: 1rem;
  color: 	#A0A0A0;
}

.more_info{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 200px;
}

.more_info__p{
  color: gray;
  font-size: 3rem;
  font-style: italic;;
}
.more_info__cite{
  color: #080808;
  font-size: 1rem;
  text-align: right;
  font-style: normal;
}

.article__blog{
  display: grid;
  grid-template-columns: 1fr;
}

.article__blog__title{
  color: red;
  text-align: justify;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.article__blog__text__img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.article__blog__text{
  font-size: 2vw;
  color: #A0A0A0;
}
.article__blog__img{
  width: 100%
}
.article__blog__link{
  text-decoration: none;
  font-size: 1rem;
}

.find__car{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

.find__car__button{
  background-color: red;
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 14px;
  font-weight: bold;
  outline: none;
  border-width: 0px;
}
.only__mobil__show{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet__hidden{
    display: none;
  }

  .cards{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 30px;
  }
  .more_info{
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .more_info__p{
    text-align: center;
  }
  .more_info__cite{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .brand__h1{
    font-size: 2rem;
  }
  .article__title{
    font-size: 1rem;
  }
  .article__title{
    font-size: .85rem;
  }
  .article__p{
    font-size: .85rem;
  }
  .more_info__p{
    font-size: 2rem;
  }
  .find__car__button{
    font-size: 1rem;
  }
  .find__car{
    margin: 40px;
  }
  .article__subtitle{
    font-size: 1rem;
  }
}

@media screen and (min-width : 294px) and (max-width :  767px) {
  .mobil__hidden{
    display: none;
  }
  .cards__img{
    height: 100px;
  }
  .brand{
    min-height: 100px;
    justify-content: center;
    background-color: gray;
    background-image: none;
  }
  .brand__h1{
    font-size: 1.8rem;
  }
  .article__title{
    font-size: 1rem;
  }
  .article__subtitle{
    font-size: .85rem;
  }
  .article__p{
    font-size: .85rem;
  }
  .cards{
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px;
  }
  .find__car__button{
    font-size: 1rem;
  }
  .find__car{
    margin: 20px
  }
  .find__car__button{
    flex-grow: 1;
  }

  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav__item{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .only__mobil{
    text-align: right;
    background-color: #484848;
  }
  .sidenav__mobil__open{
    width: 250px;
  }
  .sidenav__mobil__close{
    width: 0px;
  }
  .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .closebtn {
    text-decoration: none;
    font-size: 3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .only__mobil__show{
    display: block;
  }
}
