* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 100px;
  --header-background: #fefefe;
  --background-color: #fefefe;

  --button-color: #89e745;
}

.header {
  align-items: center;
  background-color: var(--header-background);
  border-bottom: 1px solid black;
  display: flex;
  height: var(--header-height);
  justify-content: flex-end;
}

section {
  background-color: var(--background-color);
  font-size: 50px;
  height: calc(100vh - var(--header-height));
  width: 100vw;
}

.header__button {
  background-color: var(--button-color);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 4px 1px grey;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
  margin-right: 20px;
  transition: all .4s;
}

.header__button:hover {
  filter: brightness(1.1);
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  transform: translateY(2px);
}

.sidenav {
  background-color: gray;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  width: 300px;
  transition: right .5s;
}

@supports not (display: grid) {
  .sidenav {
    display: flex;

  }
}

.hidden {
  right: -300px;
}

.sidenav__list {
  list-style: none;
}

.sidenav__item {
  font-size: 30px;
  margin: 20px 0;
}

.sidenav__link {
  color: var(--background-color);
  text-decoration: none;
}

.sidenav__link:hover {
  color: var(--button-color);
}

@media screen and (max-width: 450px) {
  .sidenav__link {
    color: red;
  }
}

@media screen and (min-width: 450px) {
  .sidenav__link {
    color: red;
  }
}
