<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dogs</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="header">
    <nav class="sidenav">
      <ul class="sidenav__list">
        <li class="sidenav__item"><a class="sidenav__link" href="">HOME</a></li>
        <li class="sidenav__item"><a class="sidenav__link" href="">SHOP</a></li>
        <li class="sidenav__item"><a class="sidenav__link" href="">SPECIALS</a></li>
        <li class="sidenav__item"><a class="sidenav__link" href="">SUPPORT</a></li>
        <li class="sidenav__item"><a class="sidenav__link" href="">CLUB</a></li>
      </ul>
    </nav>
  </header>

  <section class="primary-container">
    <section class="post">
      <div class="post__container">
        <img class="post__image" src="img/perro1.jpg">
        <h2 class="post__title">Curabitur nec mauris</h2>
        <h2 class="post__second__title">Penatibus et</h2>
        <p class="post__paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
      </div>
      <div class="post__container">
        <img class="post__image" src="img/perro2.jpg">
        <h2 class="post__title">Curabitur nec</h2>
        <h2 class="post__second__title">Etiam</h2>
        <p class="post__paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
      </div>
      <div class="post__container">
        <img class="post__image" src="img/perro3.jpg">
        <h2 class="post__title">Orci varius natoque</h2>
        <h2 class="post__second__title">Dapibus</h2>
        <p class="post__paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
      </div>
      <div class="post__container">
        <img class="post__image" src="img/perro4.jpg">
        <h2 class="post__title">Mauris id hendreri</h2>
        <h2 class="post__second__title">Sollicitudin</h2>
        <p class="post__paragraph">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
      </div>
    </section>

    <section class="blog">
      <div class="blog__container-quote">
        <h2 class="blog__quote">"Cras hendrerit urna enim, ut semper sapien dapibus et. Integer id libero nunc!"</h2>
        <span class="blog__author">- Robert Z.</span>
      </div>
      <div class="blog__container">
        <h3 class="blog__title">From the blog: Curabitur nec</h3>
        <div class="blog__container-post">
          <p class="blog__paragraph">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
            It is a long established fact that a reader will be distracted by the readable content
            <br>
            <a class="blog__link" href="">Read more</a>
          </p>
          <img class="blog__image" src="img/img-blog.jpg">
        </div>
      </div>
    </section>

    <section class="section__button">
      <button class="section__button__button">Find your perfect dog</button>
    </section>
  </section>

</body>
</html>
