.header{
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, #7b01e9 0%, #4fd6a7 100%);
}
.header__title{
  text-transform: uppercase;
  color: #fff
}

.footer{
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(0deg, #7b01e9 0%, #4fd6a7 100%);
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer__link{
  text-decoration: none;
  color: white
}

.container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 50px;
}
