* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', helvetica;
  font-size: 16px;
  color: #868686;
  background-color: #fff;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 300;
}
